.modal-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 0;
	width: 0;
	overflow: hidden;
}

.modal-container.show {
	height: auto;
	width: auto;

}

.modal{
	min-width: 50%;
	min-height: 200px;
	background-color: #fff;
}