.navbar {
    background-color: #9B4DCA;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h3 {
    color: #fff;
    margin: 0 10px;
}

.navbar a {
    margin: 0 10px;
    color: #fff;
}

.navbar h3 {
    margin: 0;
}