.App {
}

.main-app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.edit-container {
  width: 70%;
}

.img {
	margin: 0 10px;
	width: 75px;
	height: 75px;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.rdw-editor-wrapper {
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
}

.rdw-editor-main {
  padding-left: 10px;
}

@media (max-width: 768px) {
  
  .main-app {
    flex-direction: column;  
  }
  
  .edit-container {
    width: 100%;
  }

}
