.page-tree {
	width: 30%;
	height: calc(100vh - 56px);
}

.page-tree h2 {
	padding: 0 10px;
}

.page-tree .add-new {
	margin: 0 10px;
}

.child-page-list {
	height: 0;
	overflow: hidden;
}

.child-page-list.active {
	/* height: 30px; */
	height: auto;
}

@media (max-width: 768px) {
	.page-tree {
		width: 100%;
		height: auto;
	}
}